body {
    background-color: rgb(238, 245, 245);
}

.info-text {
    background-color: aquamarine;
}

.value-cell {
    display: inline-block;
    min-width: 2%;


}

.row-column-names {
    display: flex;
    justify-content: space-around;
}

/* .row-song {
    display: flex;
    justify-content: space-between;
} */

.update-songs {
    display: flex;
    justify-content: space-around;
}

.value-length {
    max-width: 40px;
}

.song-style-1 {
    color: burlywood;
}

.login-f {
    display: inline-block;
}

